@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-pink: #ffc7c7;
  --light-pink: #ffe2e2;
  --main-white: #f6f6f6;
  --main-purple: #8785a2;

  --background: #f6f6f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@layer base {
  input,
  textarea {
    @apply w-full bg-transparent text-xl focus:ring-0 focus:outline-none;
  }
}
